<nz-card hoverListener (onHover)="swapMainImage()" (click)="onItemClick(article())" [nzBodyStyle]="{'padding': 0}" class="article_card">
  <div class="article_image">
    <img [ngSrc]="mainImage()"
         [alt]="article().name" fill>
    <app-followed [ngModel]="article()?.followed" (ngModelChange)="article().followed = !article().followed"
                  (click)="$event.stopPropagation()"
                  class="article_image-heart"
    ></app-followed>
  </div>
  <div class="article_info" nz-flex nzJustify="space-between" [nzGap]="'1rem'">
    <div>
      <h2>{{ article().name }}</h2>
      <nz-rate [ngModel]="article().rate" [nzDisabled]="true"></nz-rate>
      <p>
        <span>$120 p/semana</span><br>
        <span>0 $550 p/mes</span>
      </p>
    </div>
    <div class="article_prices">
      <h3> {{ article().price | currency: 'MXN': 'symbol-narrow': '4.0' }} </h3>
      <h4>{{ article().oldPrice | currency: 'MXN': 'symbol-narrow': '4.0' }}</h4>
      <button nz-button nzType="primary" nzShape="round"
              (click)="$event.stopPropagation(); openArticleDetail(article())"
      >
        Lo quiero
      </button>
    </div>
  </div>
</nz-card>
